{% load static %}
<footer class="footer">
  <div class="container pb-md-2 pb-1">
    <hr class="my-md-2 my-1">
    <div class="row row-cols-md-3 row-cols-1">
      <div class="col my-1">
        <p class="text-blue-dark">ТОВАРЫ</p>
        <p><a href="{% url 'core:info' %}">Информация</a></p>
        <p><a href="{% url 'core:help' %}">Помощь</a></p>
        <p><a href="{% url 'core:work' %}">Работа на портале</a></p>
      </div>
      <div class="col my-1">
        <p class="text-blue-dark">ТОВАР</p>
        <p><a href="">Позиция товара 1</a></p>
        <p><a href="">Позиция товара 2</a></p>
        <p><a href="">Позиция товара 3</a></p>
        <p><a href="">Позиция товара 4</a></p>
      </div>
      <div class="col my-1">
        <p class="text-blue-dark">О КОМПАНИИ</p>
        {% if site_settings.phone %}
          <p><a href="tel:{{ site_settings.phone }}">{{ site_settings.phone }}</a></p>
        {% endif %}
        {% if site_settings.email %}
          <p><a href="mailto:{{ site_settings.email }}">{{ site_settings.email }}</a></p>
        {% endif %}
        {% if site_settings.address %}
          <p><span>{{ site_settings.address }}</span></p>
        {% endif %}
        <div class="socials mt-2"><a href=""><img src="{% static 'img/inst.svg' %}" alt=""></a><a href=""><img src="{% static 'img/yt.svg' %}" alt=""></a><a href=""><img src="{% static 'img/vk.svg' %}" alt=""></a></div>
      </div>
    </div>
    <hr class="my-md-2 my-1">
    <div class="row justify-content-between align-items-center">
      <div class="col-auto my-1 d-none d-md-block"><a class="header__logo" href="/">
          <div class="_img"><img src="{% static 'img/item.svg' %}" alt=""></div>HaronMarket</a></div>
      <div class="col-auto my-1"><a href="{% url 'core:requisites' %}">Реквизиты</a><br class="d-md-none"><a class="ms-md-4" href="{% url 'core:privacy' %}">Политика конфиденциальности</a></div>
    </div>
  </div>
</footer>

