<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/index.min.css">
    <script src="fonts/svgFont.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <title>Haron Market</title>
  </head>
  <body>
    <div class="svg-placeholder" style="border: 0; clip: rect(0 0 0 0); height: 1px;		margin: -1px; overflow: hidden; padding: 0;		position: absolute; width: 1px;"></div>
    <script>document.querySelector('.svg-placeholder').innerHTML = SVG_SPRITE;</script>
    <div class="mainwrap">
      <header class="header">
        <div class="container"><a class="header__logo" href="/">
            <div class="_img"><img src="img/item.svg" alt=""></div>HaronMarket</a>
          <div class="header__city" data-bs-toggle="modal" data-bs-target="#choose-city">
            <div class="_img"><img src="img/location.svg" alt=""></div>Москва
          </div>
          <nav class="header__nav"><a class="active header__nav-item" href="mp.html">Главная</a><a class="header__nav-item" href="catalog.html">Каталог</a><a class="header__nav-item" href="">Как стать партнером?</a><a class="header__nav-item" href="">Тарифы</a><a class="header__nav-item" href="">Контакты</a>
          </nav>
          <div class="header__actions"><a class="header__cart" href="cart.html"> 
              <div class="_img"><img src="img/cart.svg" alt=""></div>
              <div class="_quant"></div></a><a class="header__user" href="lk.html">Войти
              <div class="_img"><img src="img/enter.svg" alt=""></div></a>
            <button class="header__btn-menu"><img src="img/menu.svg" alt=""></button>
          </div>
        </div>
      </header>
      <div class="mobile-menu">
        <div class="container">
          <div class="mobile-menu__actions"><a class="mobile-menu__user" href="lk.html">Войти
              <div class="_img"><img src="img/enter.svg" alt=""></div></a></div>
          <hr class="my-2">
          <div class="mobile-menu__city" data-bs-toggle="modal" data-bs-target="#choose-city">
            <div class="_img"><img src="img/location.svg" alt=""></div>Москва
          </div>
          <hr class="mt-2 mb-1">
          <nav class="mobile-menu__nav"><a class="active mobile-menu__nav-item" href="mp.html">Главная</a><a class="mobile-menu__nav-item" href="catalog.html">Каталог</a><a class="mobile-menu__nav-item" href="">Как стать партнером?</a><a class="mobile-menu__nav-item" href="">Тарифы</a><a class="mobile-menu__nav-item" href="">Контакты</a>
          </nav>
        </div>
      </div>
      <main> </main>
      <div class="nav subnav">
        <div class="container"> <a class="subnav__link">Памятники</a><a class="subnav__link">Помощь в захоронении</a><a class="subnav__link">Ретушь и реставрация фото</a><a class="subnav__link">Фотокерамика</a><a class="subnav__link">Интернет магазин</a></div>
      </div>
      <div class="restoration-intro">
        <div class="container">
          <div class="restoration-intro__content">
            <div class="title-1">Ретушь и реставрация фотографий на памятник любой сложности</div>
            <div class="restoration-intro__info mt-05">Срок выполнение - от одних суток!</div>
            <div class="restoration-intro__img"><img src="img/restoration-intro.svg" alt=""></div>
          </div>
          <div class="restoration-intro__action"><a class="btn btn-primary" href="#">Заказать</a>
            <div class="mt-1 mt-md-0 ms-0 ms-md-2"><a href="#">Получить бесплатно декораторы</a><img class="ms-1" src="img/car.svg" alt="Car"></div>
          </div>
        </div>
      </div>
      <div class="pt-6 pb-5">
        <div class="container"> 
          <div class="title-1 mb-05 mb-md-1 text-lg-center">Наши услуги</div>
          <div class="title-3 mb-1 mb-md-3 text-blue-dark text-lg-center">Выберите необходимый вид ретуши для гравировки</div>
          <div>
            <ul class="nav nav-tabs">
              <li class="nav-item">
                <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#restoration-service-1" type="button" role="tab">Ретушь фотографий</button>
              </li>
              <li class="nav-item">
                <button class="nav-link" data-bs-toggle="tab" data-bs-target="#restoration-service-2" type="button" role="tab">Реставрация фотографий</button>
              </li>
              <div class="tab-content pt-lg-5 pt-md-4 pt-2">
                <div class="tab-pane fade active show" id="restoration-service-1" role="tabpanel">
                  <div class="row row-cols-xl-4 row-cols-md-3 row-cols-2">
                    <div class="col">
                      <div class="card-product">
                        <div class="card-product__img">
                          <div><img src="img/item.svg" alt=""/></div>
                        </div><a class="card-product__title" href="detail.html">Стандартная ретушь</a>
                        <div class="card-product__price">от 1 376,00 руб.p</div>
                      </div>
                    </div>
                    <div class="col">
                      <div class="card-product">
                        <div class="card-product__img">
                          <div><img src="img/item.svg" alt=""/></div>
                        </div><a class="card-product__title" href="detail.html">Ореол обычный</a>
                        <div class="card-product__price">от 1 376,00 руб.p</div>
                      </div>
                    </div>
                    <div class="col">
                      <div class="card-product">
                        <div class="card-product__img">
                          <div><img src="img/item.svg" alt=""/></div>
                        </div><a class="card-product__title" href="detail.html">Ореол «зернистый малый»</a>
                        <div class="card-product__price">от 1 376,00 руб.p</div>
                      </div>
                    </div>
                    <div class="col">
                      <div class="card-product">
                        <div class="card-product__img">
                          <div><img src="img/item.svg" alt=""/></div>
                        </div><a class="card-product__title" href="detail.html">Ореол «зернистый большой»</a>
                        <div class="card-product__price">от 1 376,00 руб.p</div>
                      </div>
                    </div>
                    <div class="col">
                      <div class="card-product">
                        <div class="card-product__img">
                          <div><img src="img/item.svg" alt=""/></div>
                        </div><a class="card-product__title" href="detail.html">Ретушь без ореола</a>
                        <div class="card-product__price">от 1 376,00 руб.p</div>
                      </div>
                    </div>
                    <div class="col">
                      <div class="card-product">
                        <div class="card-product__img">
                          <div><img src="img/item.svg" alt=""/></div>
                        </div><a class="card-product__title" href="detail.html">Ореол «косой дождь»</a>
                        <div class="card-product__price">от 1 376,00 руб.p</div>
                      </div>
                    </div>
                    <div class="col">
                      <div class="card-product">
                        <div class="card-product__img">
                          <div><img src="img/item.svg" alt=""/></div>
                        </div><a class="card-product__title" href="detail.html">С добавлением фона (пейзажа)</a>
                        <div class="card-product__price">от 1 376,00 руб.p</div>
                      </div>
                    </div>
                    <div class="col">
                      <div class="card-product">
                        <div class="card-product__img">
                          <div><img src="img/item.svg" alt=""/></div>
                        </div><a class="card-product__title" href="detail.html">С добавлением ФИО</a>
                        <div class="card-product__price">от 1 376,00 руб.p</div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="tab-pane fade" id="restoration-service-2" role="tabpanel">
                  <div class="photo-restoration d-flex justify-content-center flex-wrap flex-xl-nowrap">
                    <div class="photo-restoration__item mb-1 border">
                      <div class="title-3 mb-05 mb-sm-1">Хорошее качество</div>
                      <div class="title-2 my-0">500 руб</div>
                    </div>
                    <div class="photo-restoration__item mb-1 border">
                      <div class="title-3 mb-05 mb-sm-1">Среднее качество</div>
                      <div class="title-2 my-0">800 руб</div>
                    </div>
                    <div class="photo-restoration__item mb-1 border">
                      <div class="title-3 mb-05 mb-sm-1">Плохое качество</div>
                      <div class="title-2 my-0">1 500 руб</div>
                    </div>
                  </div>
                </div>
              </div>
            </ul>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="photo-restoration d-flex justify-content-center flex-wrap flex-xl-nowrap mb-5">
          <div class="photo-restoration__item mb-1 border">
            <div class="title-3 mb-05 mb-sm-1">Макет без ретуши фотографии</div>
            <div class="title-2 my-0">200 руб</div>
          </div>
          <div class="photo-restoration__item mb-1 border">
            <div class="title-3 mb-05 mb-sm-1">Ретушь фотографии плохого качества</div>
            <div class="title-2 my-0">+ 800 руб</div>
          </div>
          <div class="photo-restoration__item mb-1 border">
            <div class="title-3 mb-05 mb-sm-1">Срочный заказ (в течение суток)</div>
            <div class="title-2 my-0">+ 500 руб</div>
          </div>
        </div>
      </div>
      <div class="production-time pb-6">
        <div class="container"> 
          <div class="title-2 mb-3 text-center text-blue-dark mt-0">Обычный срок изготовления:<br> от 3-х до 5-ти дней</div>
          <div class="production-time__card pt-2 pb-3 text-center px-1"><img class="production-time__icon mb-05" src="img/warning.svg" alt="">
            <div class="title-3 mb-1">Технические характеристики</div>
            <p class="production-time__text mb-1 mx-auto">Изготавливаем макеты в форматах: BMP (1бит), BMP (8бит), JPEG (в град. серого), JPEG (RGB), PSD </p>
            <p class="production-time__text mb-0 mx-auto">Разрешение для станка: 300 пик/дюйм, 50 пик/дюйм, 125 пик/дюйм, 106 пик/дюйм, 55 пик/см, 44 пик/см, 40 пик/см, 33 пик/см</p>
          </div>
        </div>
      </div>
      <div class="making-order mb-2 mb-lg-6">
        <div class="container"> 
          <div class="title-1 text-center mb-05 mb-md-1">Как сделать заказ</div>
          <div class="title-3 text-center text-blue-dark mb-2 mb-md-4 mt-0">4 простых шага!</div>
          <div class="making-order__spisok d-flex justify-content-center flex-wrap">
            <div class="making-order__item d-flex flex-column justify-content-start align-items-center align-items-md-start"><img class="making-order__icon mb-1 mb-md-2" src="img/making-order-1.png" alt="">
              <div class="title-3 mb-05 mb-md-1">Регистрация</div>
              <div class="making-order__text">Зарегистрируйтесь или войдите в личный кабинет</div>
              <div class="btn btn-primary">Регистрация</div>
            </div>
            <div class="making-order__item d-flex flex-column justify-content-start align-items-center align-items-md-start"><img class="making-order__icon mb-1 mb-md-2" src="img/making-order-2.png" alt="">
              <div class="title-3 mb-05 mb-md-1">Заявка</div>
              <div class="making-order__text">Заполните заявку на обработку фотографии. Укажите все необходимые параметры.</div>
            </div>
            <div class="making-order__item d-flex flex-column justify-content-start align-items-center align-items-md-start"><img class="making-order__icon mb-1 mb-md-2" src="img/making-order-3.png" alt="">
              <div class="title-3 mb-05 mb-md-1">Оплата</div>
              <div class="making-order__text">Оплатите заказ. Выберите удобный способ оплаты: банковская карта, Яндекс деньги, WebMoney, баланс мобильного телефона</div>
            </div>
            <div class="making-order__item d-flex flex-column justify-content-start align-items-center align-items-md-start"><img class="making-order__icon mb-1 mb-md-2" src="img/making-order-4.png" alt="">
              <div class="title-3 mb-05 mb-md-1">Готово</div>
              <div class="making-order__text">Получите готовый заказ на почту!</div>
            </div>
          </div>
        </div>
      </div>
      <div class="bg-gradient-2 text-center py-3 my-md-4 my-2">
        <div class="container">
          <div class="title-2 mt-0 mb-1 mb-md-2">Остались вопросы?<br class="d-inline"> Оставьте заявку и наш менеджер<br class="d-none d-md-inline"> свяжется с вами!</div>
          <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#order-partner">Получить консультацию</button>
        </div>
      </div>
      <div class="work-examples mt-3 mt-lg-6 mb-3">
        <div class="container"> 
          <div class="title-1 text-center">Образцы работ</div>
          <div class="title-3 mb-2 mb-lg-4 text-center text-blue-dark">Все работы выполнены нашими художниками</div>
          <div class="examples-slider"> 
            <div class="examples-slide d-flex">
              <div class="examples-slide__info border-bottom">
                <div class="title-2 mb-05 mb-lg-2 mt-0">Пример</div>
                <div class="examples-slide__text">Описание, цена, размеры</div>
                <div class="title-3 examples-slide__counter"></div>
              </div><img class="examples-slide__img" src="img/gallery-1.jpg" alt="">
            </div>
            <div class="examples-slide d-flex">
              <div class="examples-slide__info border-bottom">
                <div class="title-2 mb-05 mb-lg-2 mt-0">Пример</div>
                <div class="examples-slide__text">Описание, цена, размеры</div>
                <div class="title-3 examples-slide__counter"></div>
              </div><img class="examples-slide__img" src="img/gallery-2.jpg" alt="">
            </div>
            <div class="examples-slide d-flex">
              <div class="examples-slide__info border-bottom">
                <div class="title-2 mb-05 mb-lg-2 mt-0">Пример</div>
                <div class="examples-slide__text">Описание, цена, размеры</div>
                <div class="title-3 examples-slide__counter"></div>
              </div><img class="examples-slide__img" src="img/gallery-3.jpg" alt="">
            </div>
            <div class="examples-slide d-flex">
              <div class="examples-slide__info border-bottom">
                <div class="title-2 mb-05 mb-lg-2 mt-0">Пример</div>
                <div class="examples-slide__text">Описание, цена, размеры</div>
                <div class="title-3 examples-slide__counter"></div>
              </div><img class="examples-slide__img" src="img/gallery-4.jpg" alt="">
            </div>
          </div>
        </div>
      </div>
      <div class="feedbacks pt-3 pt-md-5 pt-xl-6">
        <div class="container"> 
          <div class="title-1 mb-05">Отзывы</div>
          <div class="feedbacks__subtitle mb-3 mb-sm-4">Нам доверяют проводить в последний путь</div>
                    <div class="slider">
                      <div class="slides feedback-slide pt-1 pb-2 ps-2 pe-2 border">
                        <div class="feedback-slide__title">Надежда</div>
                        <div class="feedback-slide__date mb-1">25. 07. 2019</div>
                        <div class="feedback-slide__text">Большое спасибо за внимательное отношение и демократичные цены. Похороны прошли спокойно и организованно. Хочется отметить, что организовали все достойно и без лишней нервотрепки</div>
                      </div>
                      <div class="slides feedback-slide pt-1 pb-2 ps-2 pe-2 border">
                        <div class="feedback-slide__title">Надежда</div>
                        <div class="feedback-slide__date mb-1">25. 07. 2019</div>
                        <div class="feedback-slide__text">Большое спасибо за внимательное отношение и демократичные цены. Похороны прошли спокойно и организованно. Хочется отметить, что организовали все достойно и без лишней нервотрепки</div>
                      </div>
                      <div class="slides feedback-slide pt-1 pb-2 ps-2 pe-2 border">
                        <div class="feedback-slide__title">Надежда</div>
                        <div class="feedback-slide__date mb-1">25. 07. 2019</div>
                        <div class="feedback-slide__text">Большое спасибо за внимательное отношение и демократичные цены. Похороны прошли спокойно и организованно. Хочется отметить, что организовали все достойно и без лишней нервотрепки</div>
                      </div>
                      <div class="slides feedback-slide pt-1 pb-2 ps-2 pe-2 border">
                        <div class="feedback-slide__title">Надежда</div>
                        <div class="feedback-slide__date mb-1">25. 07. 2019</div>
                        <div class="feedback-slide__text">Большое спасибо за внимательное отношение и демократичные цены. Похороны прошли спокойно и организованно. Хочется отметить, что организовали все достойно и без лишней нервотрепки</div>
                      </div>
                    </div><a class="btn btn-primary feedbacks__btn">Оставить отзыв</a>
        </div>
      </div>
      <div class="location pb-4">
        <div class="container">
          <div class="location__item pt-3 border-top"><a class="map map-google"> </a></div>
        </div>
      </div>
      <footer class="footer">
        <div class="container pb-md-2 pb-1">
          <hr class="my-md-2 my-1">
          <div class="row row-cols-md-3 row-cols-1">
            <div class="col my-1">
              <p class="text-blue-dark">ТОВАРЫ</p>
              <p><a href="">Информация</a></p>
              <p><a href="">Помощь</a></p>
              <p><a href="">Работа на портале</a></p>
            </div>
            <div class="col my-1">
              <p class="text-blue-dark">ТОВАР</p>
              <p><a href="">Позиция товара 1</a></p>
              <p><a href="">Позиция товара 2</a></p>
              <p><a href="">Позиция товара 3</a></p>
              <p><a href="">Позиция товара 4</a></p>
            </div>
            <div class="col my-1">
              <p class="text-blue-dark">О КОМПАНИИ</p>
              <p><a href="">8 800 567 87 89</a></p>
              <p><a href="">ritualnyeuslugi@yandex.ru</a></p>
              <p><span>ул. Пушкина, дом. Колотушкина</span></p>
              <div class="socials mt-2"><a href=""><img src="img/inst.svg" alt=""></a><a href=""><img src="img/yt.svg" alt=""></a><a href=""><img src="img/vk.svg" alt=""></a></div>
            </div>
          </div>
          <hr class="my-md-2 my-1">
          <div class="row justify-content-between align-items-center">
            <div class="col-auto my-1 d-none d-md-block"><a class="header__logo" href="/">
                <div class="_img"><img src="img/item.svg" alt=""></div>HaronMarket</a></div>
            <div class="col-auto my-1"><a href="">Реквизиты</a><br class="d-md-none"><a class="ms-md-4" href="">Политика конфиденциальности</a></div>
          </div>
        </div>
      </footer>
    </div>
    <div class="modal fade" tabindex="-1" aria-labelledby="choose-city" aria-hidden="true" id="choose-city">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-body">
            <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
            <div class="title-3 mb-2">Выберите город</div>
            <select class="chosen" name="" data-placeholder="Ваш город">
              <option></option>
              <option>Красноярск</option>
              <option>Тюмень</option>
              <option>Красноярск</option>
              <option>Томск</option>
              <option>Красноярск</option>
              <option>Уфа</option>
              <option>Красноярск</option>
              <option>Тюмень</option>
              <option>Красноярск</option>
              <option>Томск</option>
              <option>Красноярск</option>
              <option>Уфа</option>
              <option>Красноярск</option>
              <option>Тюмень</option>
              <option>Красноярск</option>
              <option>Томск</option>
              <option>Красноярск</option>
              <option>Уфа</option>
            </select>
            <button class="btn btn-primary w-100 mt-2">Перейти</button>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" tabindex="-1" aria-labelledby="order-partner" aria-hidden="true" id="order-partner">
      <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
          <form class="modal-body">
            <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
            <div class="title-3 mb-2">Заполните анкету на партнерство!</div>
            <div class="row row-col-md-2">
              <div class="col">
                <label class="mb-1">
                  <p class="form-label">Фамилия</p>
                  <input class="form-control" type="text" placeholder="Фамилия" required>
                </label>
                <label class="mb-1">
                  <p class="form-label">Имя</p>
                  <input class="form-control" type="text" placeholder="Имя" required>
                </label>
                <label class="mb-1">
                  <p class="form-label">Отчество</p>
                  <input class="form-control" type="text" placeholder="Отчество" required>
                </label>
                <label class="mb-1">
                  <p class="form-label">Город</p>
                  <input class="form-control" type="text" placeholder="Город" required>
                </label>
                <label class="mb-1">
                  <p class="form-label">Позиция товара</p>
                  <input class="form-control" type="text" placeholder="Позиция товара" required>
                </label>
              </div>
              <div class="col">
                <label class="mb-1">
                  <p class="form-label">ИП или ООО</p>
                  <input class="form-control" type="text" placeholder="ИП или ООО" required>
                </label>
                <label class="mb-1">
                  <p class="form-label">Паспортные данные</p>
                  <textarea class="form-control" type="text" placeholder="Паспортные данные" required></textarea>
                </label>
              </div>
            </div>
            <p class="text-muted mb-1">Отправляя данные вы соглашаетесь с <a href="">политикой конфиденциальности </a></p>
            <button class="btn btn-primary">Отправить</button>
          </form>
        </div>
      </div>
    </div>
    <div class="modal fade" tabindex="-1" aria-labelledby="pay-success" aria-hidden="true" id="pay-success">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <form class="modal-body p-md-3">
            <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
            <div class="title-3 mb-2">Оплата прошла успешно!</div>
            <p>Вся информация о заказе отправлена вам на почту. В ближайшее время с вами свяжется поставщик.</p>
            <p>Если будут вопросы - звоните нам!</p><a class="fs-5" href="tel: 8 800 800 80 00"><img class="me-1" src="img/phone.svg" alt="">8 800 800 80 00</a>
          </form>
        </div>
      </div>
    </div>
    <div class="modal fade" tabindex="-1" aria-labelledby="account-settings" aria-hidden="true" id="account-settings">
      <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
          <div class="modal-body">
            <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
            <div class="title-2 mt-0 mb-2">Настройки</div>
            <ul class="nav nav-tabs">
              <li class="nav-item">
                <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#account-settings-tab-1" type="button" role="tab">Основная информация</button>
              </li>
              <li class="nav-item">
                <button class="nav-link" data-bs-toggle="tab" data-bs-target="#account-settings-tab-2" type="button" role="tab">Информация о компании</button>
              </li>
              <li class="nav-item">
                <button class="nav-link" data-bs-toggle="tab" data-bs-target="#account-settings-tab-3" type="button" role="tab">Безопасность</button>
              </li>
              <li class="nav-item">
                <button class="nav-link" data-bs-toggle="tab" data-bs-target="#account-settings-tab-4" type="button" role="tab">Подписка и аккаунт</button>
              </li>
            </ul>
            <div class="tab-content py-2">
              <div class="tab-pane fade active show" role="tabpanel" id="account-settings-tab-1">
                <form>
                  <div class="row row-cols-lg-3 row-cols-md-2 row-cols-1">
                    <div class="col">
                      <label class="mb-1">
                        <p class="form-label form-label--small">Фамилия*</p>
                        <input class="form-control" type="text" value="" required>
                      </label>
                    </div>
                    <div class="col">
                      <label class="mb-1">
                        <p class="form-label form-label--small">Имя *</p>
                        <input class="form-control" type="text" value="Евгения" required>
                      </label>
                    </div>
                    <div class="col">
                      <label class="mb-1">
                        <p class="form-label form-label--small">Отчество *</p>
                        <input class="form-control" type="text" value="Сергеевна" required>
                      </label>
                    </div>
                    <div class="col">
                      <label class="mb-1">
                        <p class="form-label form-label--small">Номер телефона *</p>
                        <input class="form-control" type="tel" value="+7 (908) 667-78-76" required>
                      </label>
                    </div>
                    <div class="col">
                      <label class="mb-1">
                        <p class="form-label form-label--small">E-mail*</p>
                        <input class="form-control" type="email" value="pochta@gmail.com" required>
                      </label>
                    </div>
                  </div>
                  <div class="mt-2">
                    <button class="btn btn-outline-primary">Сохранить</button>
                  </div>
                </form>
              </div>
              <div class="tab-pane fade" role="tabpanel" id="account-settings-tab-2">
                <form>
                  <div class="row row-cols-lg-3 row-cols-md-2 row-cols-1">
                    <div class="col">
                      <label class="mb-1">
                        <p class="form-label form-label--small">Название компании*</p>
                        <input class="form-control" type="text" required>
                      </label>
                    </div>
                    <div class="col">
                      <label class="mb-1">
                        <p class="form-label form-label--small">ИНН *</p>
                        <input class="form-control" type="text" required>
                      </label>
                    </div>
                    <div class="col">
                      <label class="mb-1">
                        <p class="form-label form-label--small">Город *</p>
                        <input class="form-control" type="text" required>
                      </label>
                    </div>
                    <div class="col">
                      <label class="mb-1">
                        <p class="form-label form-label--small">Рабочий телефон *</p>
                        <input class="form-control" type="tel" required>
                      </label>
                    </div>
                    <div class="col">
                      <label class="mb-1">
                        <p class="form-label form-label--small">E-mail*</p>
                        <input class="form-control" type="email" required>
                      </label>
                    </div>
                    <div class="col">
                      <label class="mb-1">
                        <p class="form-label form-label--small">Р/С *</p>
                        <input class="form-control" type="text" required>
                      </label>
                    </div>
                  </div>
                  <div class="mt-2">
                    <button class="btn btn-outline-primary">Сохранить</button>
                  </div>
                </form>
              </div>
              <div class="tab-pane fade" role="tabpanel" id="account-settings-tab-3">
                <form class="needs-validation" novalidate>
                  <label class="mb-1">
                    <p class="form-label form-label--small">Старый пароль *</p>
                    <input class="form-control" type="password" required>
                    <div class="invalid-feedback">Неверно введен пароль</div>
                  </label>
                  <label class="mb-1">
                    <p class="form-label form-label--small">Новый пароль *</p>
                    <input class="form-control" type="password" required>
                  </label>
                  <label class="mb-1">
                    <p class="form-label form-label--small">Повтор пароля *</p>
                    <input class="form-control" type="password" required>
                    <div class="invalid-feedback">Пароли не совпадают</div>
                  </label>
                  <div class="mt-2">
                    <button class="btn btn-outline-primary">Сохранить</button>
                  </div>
                </form>
              </div>
              <div class="tab-pane fade" role="tabpanel" id="account-settings-tab-4">
                <div class="alert alert-primary alert-dismissible fade show" role="alert">
                  <div class="text-center">Ваш тарифный план: Мегаплан. Тариф оплачен до: 27.02.2021. </div>
                  <button class="btn-close" type="button" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                  <div class="text-center">Ваш тариф закончился. Для продолжения выберите и оплатите тариф из списка.</div>
                </div>
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                  <div class="row align-items-center">
                    <div class="col">
                      <div class="text-center">Ваша подписка скоро закончится. Тариф оплачен до: 27.02.2021.</div>
                    </div>
                    <div class="col-auto"><a class="btn btn-danger btn-sm" href="">Оплатить</a></div>
                  </div>
                </div>
                <div class="row justify-content-end my-2">
                  <div class="col-auto">
                    <div class="form-check form-switch">
                      <input class="form-check-input" id="flexSwitchCheckChecked38049756" type="checkbox" checked>
                      <label class="form-check-label" for="flexSwitchCheckChecked38049756">Автопродление</label>
                    </div>
                  </div>
                </div>
                <div class="title-3 mb-2">Тарифы</div>
                <div class="card-line"> 
                  <div class="card-line__row align-items-center">
                    <div class="card-line__col">1 месяц <strong>Мегаплан</strong></div>
                    <div class="card-line__col-auto">800 руб</div>
                    <div class="card-line__col-auto"><a class="btn btn-success btn-sm" href="">Оплатить </a></div>
                  </div>
                </div>
                <div class="card-line"> 
                  <div class="card-line__row align-items-center">
                    <div class="card-line__col">1 месяц <strong>Мегаплан</strong></div>
                    <div class="card-line__col-auto">800 руб</div>
                    <div class="card-line__col-auto"><a class="btn btn-success btn-sm" href="">Оплатить </a></div>
                  </div>
                </div>
                <div class="card-line"> 
                  <div class="card-line__row align-items-center">
                    <div class="card-line__col">1 месяц <strong>Мегаплан</strong></div>
                    <div class="card-line__col-auto">800 руб</div>
                    <div class="card-line__col-auto"><a class="btn btn-success btn-sm" href="">Оплатить </a></div>
                  </div>
                </div>
                <div class="card-line bg-primary">
                  <div class="card-line__row align-items-center">
                    <div class="card-line__col text-white">1 месяц <strong>Мегаплан</strong></div>
                    <div class="card-line__col-auto text-white">800 руб</div>
                    <div class="card-line__col-auto"><a class="btn btn-success btn-sm" href="">Оплатить </a></div>
                  </div>
                </div>
                <div class="card-line bg-success">
                  <div class="card-line__row align-items-center">
                    <div class="card-line__col text-white">1 месяц <strong>Мегаплан</strong></div>
                    <div class="card-line__col-auto text-white">800 руб</div>
                    <div class="card-line__col-auto"><a class="btn btn-primary btn-sm" href="">Оплатить </a></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="js/index.js"></script>
  </body>
</html>