{% extends 'base.html' %}
{% load static %}

{% block title %}Оформление заказа - Haron Market{% endblock %}

{% block content %}
  <div class="container">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'core:index' %}">Главная</a></li>
        <li class="breadcrumb-item"><a href="{% url 'catalog:catalog' %}">Каталог</a></li>
        <li class="breadcrumb-item"><a href="{% url 'cart:detail' %}">Корзина</a></li>
        <li class="breadcrumb-item active" aria-current="page">Оформление заказа</li>
      </ol>
    </nav>
          <form class="card p-2 rounded-3">
            <div class="row"> 
              <div class="col-md-12">
                <div class="cart-elem">
                  <div class="cart-elem__img"><img src="{% static 'img/gallery-2.jpg' %}" alt=""></div>
                  <div class="cart-elem__content">
                    <div class="mb-1"><a class="title-3" href="{% url 'catalog:detail' product_id=1 %}">Название</a></div>
                    <div class="row">
                      <div class="col-auto mb-1">Информация 1
                      </div>
                      <div class="col-auto mb-1">Информация 2
                      </div>
                      <div class="col-auto mb-1">Информация 3
                      </div>
                      <div class="col-auto mb-1">Информация 4
                      </div>
                      <div class="col-auto mb-1">Информация 5
                      </div>
                      <div class="col-auto mb-1">Информация 6
                      </div>
                    </div>
                    <div class="cart-elem__total">
                      <div>Всего:</div>
                      <div class="_old">30 000 рублей</div>
                      <div>28 000 рублей</div>
                    </div>
                  </div>
                </div>
                <hr class="my-2">
                <div class="row row-cols-md-2 row-cols-1">
                  <div class="col pe-md-2">
                    <label class="mb-1">
                      <p class="form-label">Фамилия</p>
                      <input class="form-control" type="text" placeholder="Фамилия" required>
                    </label>
                    <label class="mb-1">
                      <p class="form-label">Имя</p>
                      <input class="form-control" type="text" placeholder="Имя" required>
                    </label>
                    <label class="mb-1">
                      <p class="form-label">Отчество</p>
                      <input class="form-control" type="text" placeholder="Отчество" required>
                    </label>
                    <label class="mb-1">
                      <p class="form-label">Почта</p>
                      <input class="form-control" type="text" placeholder="Почта" required>
                    </label>
                    <label class="mb-1">
                      <p class="form-label">Номер</p>
                      <input class="form-control" type="text" placeholder="Номер" required>
                    </label>
                  </div>
                  <div class="col ps-md-2 border-md-start">
                    <div class="row">
                      <div class="col-auto mb-1">
                        <label>
                          <input type="radio" name="delivery" hidden>
                          <div class="label-check">Доставка</div>
                        </label>
                      </div>
                      <div class="col-auto mb-1">
                        <label>
                          <input type="radio" name="delivery" hidden>
                          <div class="label-check">Самовывоз</div>
                        </label>
                      </div>
                    </div>
                    <label class="mb-1">
                      <p class="form-label">Адрес доставки</p>
                      <textarea class="form-control" type="text" placeholder="Адрес доставки" required></textarea>
                    </label>
                    <label class="mb-1">
                      <p class="form-label">Поле</p>
                      <input class="form-control" type="text" placeholder="Поле" required>
                    </label>
                    <label class="mb-1">
                      <p class="form-label">Поле</p>
                      <input class="form-control" type="text" placeholder="Поле" required>
                    </label>
                    <label class="mb-1">
                      <p class="form-label">Поле</p>
                      <input class="form-control" type="text" placeholder="Поле" required>
                    </label>
                  </div>
                </div>
                <hr class="my-2">
              </div>
              <div class="col-xl-4 col-lg-5 col-md-6">
                <div class="title-3">Итого</div>
                <hr>
                <div class="row justify-content-between text-blue-dark">
                  <div class="col-auto">Всего:</div>
                  <div class="col-auto">28 000 рублей</div>
                </div>
                <div class="mt-2">
                  <label>
                    <input type="checkbox" hidden>
                    <div class="label-check">Я согласен с политикой конфиденциальности </div>
                  </label>
                </div>
                <button class="btn btn-primary mt-1 w-100" data-bs-toggle="modal" data-bs-target="#pay-success">Оплатить</button>
              </div>
            </div>
          </form>
        </div>
  </div>
{% endblock %}

{% block modals %}
    <div class="modal fade" tabindex="-1" aria-labelledby="pay-success" aria-hidden="true" id="pay-success">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <form class="modal-body p-md-3">
            <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
            <div class="title-3 mb-2">Оплата прошла успешно!</div>
            <p>Вся информация о заказе отправлена вам на почту. В ближайшее время с вами свяжется поставщик.</p>
            <p>Если будут вопросы - звоните нам!</p><a class="fs-5" href="tel: 8 800 800 80 00"><img class="me-1" src="{% static 'img/phone.svg' %}" alt="">8 800 800 80 00</a>
          </form>
        </div>
      </div>
    </div>
{% endblock %}
